
bench:
  workload: spanner
  scale: 1
  weight: # these are hard coded, modify here won't have any effects
    f1_load: 0.997
    f1_update: 0.003
  population: # intial number of records in the spanner table
    f1:   125000
  dist: zipf
  coefficient: 0.8 # 0 as uniform, 1 as pure zipf
  writefraction: 0.003  # now write fraction is not hard coded.
# schema: [generated in code: config.cc]

sharding:
  f1:   MOD